<h2>Add a new food</h2>
<form
  #foodForm="ngForm"
  [formGroup]="addFoodForm"
  (ngSubmit)="
    addFood(
      foodForm.form.value.Name,
      foodForm.form.value.Category,
      foodForm.form.value.Subcategory,
      foodForm.form.value.Img_url,
      foodForm.form.value.Desc_en,
      foodForm.form.value.Desc_jp
    )
  "
  id="add-form">
  <mat-form-field>
    Name
    <input matInput formControlName="Name" name="Name" />
  </mat-form-field>

  <mat-form-field>
    Category
    <input matInput formControlName="Category" name="Category" />
  </mat-form-field>

  <mat-form-field>
    Subcategory
    <input matInput formControlName="Subcategory" name="Subcategory" />
  </mat-form-field>

  <mat-form-field>
    Img_url
    <input matInput formControlName="Img_url" name="Img_url" />
  </mat-form-field>

  <mat-form-field>
    Desc_en
    <input matInput formControlName="Desc_en" name="Desc_en" />
  </mat-form-field>

  <mat-form-field>
    Desc_jp
    <input matInput formControlName="Desc_jp" name="Desc_jp" />
  </mat-form-field>
  <button type="submit ">Add Food</button>
</form>

<!-- <mat-dialog-actions align="end ">
    <button mat-button mat-dialog-close form="add-form ">Cancel</button>
    <button [disabled]="!addOpportunityForm.valid " mat-button [mat-dialog-close]="true " type="submit " form="add-form ">Add</button>
    </mat-dialog-actions> -->
