.col:first-of-type {
    margin: 1vh 0 5vh 10vw;
    display: flex;
}

h1,
h6 {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bitter", sans-serif;
}

h1 {
    font-size: 6rem;
}

h6 {
    font-size: 2.5rem;
    color: var(--color-primary);
}

.col:nth-of-type(2) {
    display: flex;
    margin: 1vh 0 5vh 5vw;
}

.sns {
    display: inline-block;
    align-self: flex-end;
    margin-left: 5vw;
}

li {
    list-style: none;
}

.sns fa-icon {
    font-size: 1.8rem;
    margin: 0 1.5rem;
    text-decoration: none;
    color: var(--color-primary);
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

.sns fa-icon:hover {
    color: var(--color-secondary)
}

.col:nth-of-type(3) {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.topright {
    display: flex;
}

.topright p {
    font-family: "Bitter", sans-serif;
    margin-left: auto;
    margin-right: 0;
}

button {
    width: 5vw;
    height: 4vh;
    background-color: #080710;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}