.section {
    width: 90%;
    margin: auto;
    text-align: center;
}

h2 {
    display: inline-block;
    position: relative;
    margin-top: 5vh;
    color: var(--color-primary);
    font-family: "Bitter", sans-serif;
}

h2:before,
h2:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    top: 49%;
    width: 20vw;
}

h2:before {
    right: 100%;
    margin-right: 15px;
}

h2:after {
    left: 100%;
    margin-left: 15px;
}

// .col-lg-4,
// .col-lg-6 {
//     // background-color: blue;
//     height: 45vh;
//     position: relative;
//     padding-right: 0;
//     margin-top: 15px;
// }
.popup {
    height: 45vh;
    position: relative;
    padding-right: 0;
    margin-top: 15px;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 100% 70%;
    ;
}

.bottom {
    position: absolute;
    left: 20px;
    bottom: 10px;
    float: left;
}

h6 {
    padding: 0 10px;
    background-color: var(--color-primary);
    color: white;
    font-size: 0.9rem;
    text-align: left;
    width: fit-content;
    margin: 0;
}

span {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--color-secondary);
    color: black;
    padding: 0 5px;
}

.pop-up {
    display: none;
    // opacity: 0;
    background-color: rgba(0, 0, 0, 0.609);
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 4vh 3vw;
    font-family: 'Hina Mincho', serif !important;
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -15px;
}

.pop-up p {
    text-align: left;
    margin-top: 5vh;
    font-size: 1.3rem;
    font-weight: 200;
    overflow-wrap: break-word;
}

.pop-up li {
    font-size: 1.2rem;
}

h5 {
    text-align: left;
}

textarea {
    width: 100%;
    height: 4vh;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    resize: none;
    overflow-y: hidden;
}

.btn10 {
    background-color: yellow;
}