.section {
    width: 90%;
    margin: auto;
    text-align: center;
}

h2 {
    display: inline-block;
    position: relative;
    margin-top: 5vh;
    color: var(--color-primary);
}

h2:before,
h2:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    top: 49%;
    width: 20vw;
}

h2:before {
    right: 100%;
    margin-right: 15px;
}

h2:after {
    left: 100%;
    margin-left: 15px;
}

.col-lg-4,
.col-lg-6 {
    // background-color: blue;
    height: 45vh;
    position: relative;
    padding-right: 0;
    margin-top: 15px;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: 100% 70%;
    ;
}

.bottom {
    position: absolute;
    left: 20px;
    bottom: 10px;
    float: left;
}

h6 {
    padding: 0 10px;
    background-color: var(--color-primary);
    color: white;
    font-size: 0.9rem;
    text-align: left;
    width: fit-content;
    margin: 0;
}

span {
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--color-secondary);
    color: black;
    padding: 0 5px;
}