/* You can add global styles to this file, and also import other style files */


/* Application-wide Styles */

 :root {
    --color-primary: #363200;
    --color-secondary: #e3e300;
    --color-tertiary: #756D00
}

html {
    background: url("https://i.postimg.cc/HnRPm1Tg/spices.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position: 0% 40%;
}

html::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: -1;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.button2 {
    display: inline-block;
    padding: 0.5em 2em;
    border: 0.16em solid white;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    transition: all 0.3s;
    margin-top: 2vh;
    cursor: pointer;
    background-color: transparent;
}

.button2:hover {
    color: #818181;
    border-color: #818181;
}

.button2:active {
    color: #818181;
    border-color: #818181;
}

@media only screen and (max-width: 600px) {
    html {
        background: url("https://i.postimg.cc/HnRPm1Tg/spices.jpg") repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        background-position: 0% 50%;
    }
    html::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: -1;
    }
    body {
        margin: 0;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.85);
    }
    button:hover {
        background-color: black;
        color: white;
    }
    button:disabled {
        background-color: #eee;
        color: #aaa;
        cursor: auto;
    }
    .button2 {
        display: inline-block;
        padding: 0.5em 2em;
        border: 0.16em solid white;
        margin: 0 0.3em 0.3em 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Kumbh Sans', sans-serif;
        font-weight: 400;
        color: white;
        text-align: center;
        transition: all 0.3s;
        margin-top: 2vh;
        cursor: pointer;
        background-color: transparent;
    }
    .button2:hover {
        color: #818181;
        border-color: #818181;
    }
    .button2:active {
        color: #818181;
        border-color: #818181;
    }
}