/* You can add global styles to this file, and also import other style files */


/* Application-wide Styles */

:root {
    --color-primary: #363200;
    --color-secondary: #e3e300;
    --color-tertiary: #756D00
}

html {
    background: url("https://i.postimg.cc/3JX0GMcf/DSCF0144.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position: 0% 40%;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.92);
}

body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: black;
    color: white;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}


/* everywhere else */

* {
    font-family: "Bitter", sans-serif;
    // color: var(--color-primary)
}